@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.inner {
    width: 1280px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

#header {
    width: 100%;
    height: 135px;
}

.top {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: right;
    height: 20px;
}

.top li {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-left: 20px;
}

.top:after {
    content: "";
    display: block;
    clear: both;
}

.menu {
    float: left;
    width: 36%;
    position: relative;
}

.menu li {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding: 4px 15px;
}

.submenu {
    position: absolute;
    float: left;
    left: 0;
    width: 700px;
    opacity: 0;
    transition: all 0.5s;
}

.submenu li {
    font-size: 12px;
}

.menu li:hover {
    border-bottom: 2px solid red;
    cursor: pointer;
    transition: all 0.3s;
}

.menu li:hover .submenu li {
    border-bottom: none;
}

.menu li:hover .submenu {
    opacity: 1;
    z-index: 999;
    padding: 10px 0;
}

.menu:after {
    content: "";
    display: block;
    clear: both;
}

.botton {
    line-height: 50px;
}

.logo {
    float: left;
    padding-right: 160px;
    padding-left: 120px;
}

.h_icon {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    float: left;
}

.h_icon li {
    float: left;
}

.h_icon img {
    padding: 0 10px;
}

.h_icon:after {
    content: "";
    display: block;
    clear: both;
}

.such {
    float: left;
    padding-right: 15px;
    padding-left: 40px;
}

.menu_hide {
    float: right;
}
.hide_menu{
    width: 1280px;
    margin: 0 auto;
    height: auto;
    border: 1px solid #333;
    position: fixed;
    z-index: 99999;
    top: 70px;
    left: 320px;
    background-color: #fff;
}
.hidemenu{
    float: left;
    width: 70%;
    margin: 1%;
   
}
.hidemenu > li{
    width: 25%;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding: 50px 15px;
}
.login_box{
    float: right;
    width: 25%;
    height: auto;
    margin: 1%;
    text-align: center;
}
.login_box button{
    width: 60%;
    height: 30px;
    margin: 10px;
}
.sign_up{
    width: 80%;
    height: 150px;
    border: 1px solid #333;
    border-radius: 5%;
    margin: 0 auto;
}
.sign_up p{
    padding-top: 30px;
    padding-bottom: 30px;
}
.sign_up button{
    width: 60%;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
}
.botton:after {
    content: "";
    display: block;
    clear: both;
}

/* main style */
.main_img {
    background-color: #98d4d6;
    height: 640px;
    width: 100%;
    position: relative;
}

#mainimg .prew {
    position: absolute;
    top: 400px;
    left: 100px;
}

#mainimg .next {
    position: absolute;
    top: 400px;
    right: 100px;
}

.main_img .inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.main_text {
    position: absolute;
    width: 500px;
    height: 340px;
    top: 100px;
    left: 30px;
}

.main_text p {
    padding-bottom: 40px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.main_text h3 {
    color: #df2d2e;
    font-size: 48px;
    padding-bottom: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.main_text h6 {
    padding-bottom: 40px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.main_text .btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.main_text .btn:hover {
    border: 1px solid #ff0000;
    color: #fff;
    transition: all 0.4s;
}

.sub_img {
    background-image: url(../img/mainimg.png);
    position: absolute;
    width: 635px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
    top: 90px;
}

.box1 {
    background-color: #333333;
    height: 900px;
    width: 100%;
}

.box1 .inner {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.box1 h3 {
    padding: 110px 0;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.box1 .prew {
    top: 450px;
    position: absolute;
    left: 50px;
}

.box1 .next {
    top: 450px;
    position: absolute;
    right: 50px;
}

.box1_set {
    float: left;
    padding: 0 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;

}

.box1_set div {
    width: 257px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    transition: all 0.6s;
    transform: translate(0, 0px);
    padding: 0 10px;
}

.box1_set h4 {
    font-size: 18px;
    color: #fff;
}

.box1_set p {
    font-size: 14px;
    color: #fff;
}

.box1_set:hover div {
    transform: translate(0, -105px);
}

.box1_set:nth-child(1) {
    padding-left: 40px;
}

.box1_set:nth-child(4) {
    padding-right: 25px;
}

#slide_banner:after {
    content: "";
    display: block;
    clear: both;
}

.box2 {
    height: 560px;
    width: 100%;
}

.box2 h3 {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 50px;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.box2_mo {
    float: left;
}

.box2_po {
    float: left;
    padding: 25px;
}

.box2_text {
    font-size: 18px;
    float: left;
    padding-top: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.box2_text p:nth-child(5) {
    padding-top: 90px;
    font-size: 14px;
    color: #8d8d8d;
}

.box2_set:after {
    content: "";
    display: block;
    clear: both;
}

.box3 {
    width: 100%;
    height: 640px;
    background-image: url(../img/eventbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 .inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.box3 .prew {
    position: absolute;
    top: 270px;
    left: 0;
}

.box3 .next {
    position: absolute;
    top: 270px;
    right: 0;
}

.box3 h3 {
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.box3_icon {
    float: left;
    padding: 0 22px;
    color: #fff;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

.box3_icon h5 {
    padding-top: 10px;
    font-size: 14px;
}

.box3_icon h5 div {
    height: 16px;
}

.box3_icon p {
    font-size: 12px;
}

.box3_set:after {
    content: "";
    display: block;
    clear: both;
}

.box3_4 {
    width: 100%;
    height: 435px;
    background-color: #dbdbdb;
    text-align: center;
}

.box3_4 h3 {
    padding: 50px 0 25px 0;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.box3_4 p {
    font-size: 18px;
    padding-bottom: 110px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400px;
}

.box3_4_set_box {
    width: 66%;
    margin: 0 auto;
    height: auto;
}

.box3_4_set {
    float: left;
    padding: 0 40px;
}

.box3_4_set p {
    font-size: 24px;
}

.box3_4_set_box:after {
    content: "";
    display: block;
    clear: both;
}

.box4 {
    width: 100%;
    height: 565px;
}

.box4 h3 {
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.box4_bg {
    width: 100%;
    height: 280px;
    background-color: #000;
    border-radius: 150px;
    position: relative;
}

.box4_bg img {
    height: 280px;
    border-radius: 150px 0 0 150px;
    float: left;
}

.box4_text {
    width: 50%;
    position: absolute;
    right: 0;
    float: right;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400
}

.box4_text h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #ffcc00;
    font-size: 36px;
    padding: 15px 0;
}

.box4_btn {
    width: 170px;
    height: 45px;
    background-color: #fff;
    color: #000;
    line-height: 45px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border: none;
}

.box4_btn:hover {
    border: 1px solid #ff0000;
    color: #333;
}

.box4_bg:after {
    content: "";
    display: block;
    clear: both;
}

.box5 {
    width: 100%;
    height: 100px;
    font-size: 16px;
}

.box5_slide_box {
    height: 2em;
    overflow: hidden;
    float: left;
}

.box5 .notice_list {
    line-height: 2rem;
    position: relative;
}

.inline h4 {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.inline h4 span {
    padding: 0 25px;
}

.inline p {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.inline h5 {
    float: right;
    border-bottom: 1px solid #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.inline:after {
    content: "";
    display: block;
    clear: both;
}

/*메인*/


/*푸터*/
#footer {
    width: 100%;
    height: 300px;
    background-color: #262525;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

#footer .inner > p {
    padding-top: 30px;
    padding-bottom: 65px;
    color: #b5b5b5;
    font-size: 14px;
}

.f_logo {
    float: left;
}

.f_text {
    float: left;
    color: #b5b5b5;
    font-size: 14px;
    line-height: 24px;
    padding-left: 50px;
}

.f_text_left {
    float: left;
}

.f_text_right {
    padding-left: 20px;
    float: right;
}

.f_number {
    float: right;
    color: #b5b5b5;
    text-align: right;
}

.f_number p span {
    font-size: 24px;
    color: #ed1c24;
}

.f_set:after {
    content: "";
    display: block;
    clear: both;
}

/*서브1 */
.sub1_mainimg {
    width: 100%;
    height: 580px;
    background-color: #fff;
    position: relative;
}

.sub1_mainimg .inner {
    position: relative;
}

.sub1_bg {
    background-color: #c3efa5;
    width: 100%;
    position: absolute;
    height: 520px;
    top: 0;
}

.sub1_text {
    position: absolute;
    left: 25%;
    right: 15%;
    margin: 0 auto;
    top: 55px;
}

.sub1_text h1 {
    font-size: 48px;
    color: #e92018;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.sub1_text p {
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.sub1_main {
    top: 170px;
    position: absolute;
    left: 25%;
    right: 30%;
    margin: 0 auto;
}

.sub1_box1_top {
    width: 100%;
    height: 390px;
}

.sub1_box1_bottom {
    width: 100%;
    height: 390px;
}

.movititle {
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.movips img {
    width: 155px;
    height: 222px;
}

.movips_set:after {
    content: "";
    display: block;
    clear: both;
}

.movips {
    padding-top: 20px;
    float: left;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}

.movips h4 {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 5px;
}

.movips p {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-left: 5px;
}

.movips div {
    width: 155px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(0, 0);
    position: absolute;
    color: #fff;
    transition: all 0.5s;
}

.movips:hover div {
    transform: translate(0, -70px);
}

.movips p > span {
    float: right;
    padding-right: 5px;
}

.trailer {
    width: 100%;
    height: 650px;
    background-color: #333;
    margin-top: 100px;
}

.trailer_left {
    float: left;
    width: 70%;
    padding-top: 25px;
}

.trailer_left h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.t-left {
    width: 60%;
    float: left;
    padding-top: 30px;
}

.t-left img {
    width: 500px;
}

.sub_movi_text img {
    float: left;
    width: 110px;
    height: 165px;
}

.sub_movi_text {
    font-size: 12px;
    color: #fff;
    padding-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.sub_movi_text_right {
    float: left;
    padding-left: 10px;
}

.sub_movi_text_right h6 {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.sub_movi_text_right h6 > span {
    border-radius: 50px;
    background-color: #546af2;
    margin-left: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.sub_movi_text_right p:last-child {
    padding-top: 50px;
}

.t-right {
    width: 40%;
    float: right;
    padding-top: 30px;
}

.t-left img {
    cursor: pointer;
}

.trailer_box {
    width: 56%;
    float: left;
    height: 140px;
    background-color: #000;
    margin-bottom: 35px;
    overflow: hidden;

}

.trailer_bpx img {
    transform: scale(1);
    transition: all 0.6s;
}

.trailer_box img:hover {
    transform: scale(1.1);
    transition: all 0.6s;
    cursor: pointer;
    -webkit-transform: scale(1.1);
}

.trailer_box p {
    font-size: 12px;
    float: left;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding-left: 5px;
}

.trailer_box h6 {
    font-size: 12px;
    float: right;
    background-color: #546af2;
    border-radius: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-right: 5px;
    margin-right: 5px;
}

.trailer_box_set:nth-child(2) .trailer_box h6 {
    font-size: 12px;
    float: right;
    background-color: #00a651;
    border-radius: 50px;
}

.trailer_text {
    width: 40%;
    float: left;
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.trailer_right {
    width: 20%;
    float: right;
    padding-top: 30px;
    color: #fff;

}

.trailer_right h3 {
    font-size: 24px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}

.trailer_right p {
    font-size: 12px;
    text-align: right;
    opacity: 0.3;
    padding-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.rank {
    font-size: 14px;
    width: 260px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.rank tr td:nth-child(3) {
    text-align: right;
}

.rank tr {
    height: 35px;
}

.rank td {}

.trailer .inner:after {
    content: "";
    display: block;
    clear: both;
}

.trailer_left:after {
    content: "";
    display: block;
    clear: both;
}

.sub_movi_text:after {
    content: "";
    display: block;
    clear: both;
}

.trailer_box_set:after {
    content: "";
    display: block;
    clear: both;
}

.sub_bg {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

/* 서브1 끝 */

/* 서브2 시작 */
.sub2_mainimg {
    width: 100%;
    height: 565px;
    background-image: url(../img/sub2_bg.png);
}

.sub2_mainimg .inner {
    position: relative;
    width: 1280px;
    height: 565px;
    margin: 0 auto;
}

.sub2_img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.sub2_main_text {
    position: absolute;
    top: 80px;
    left: 40%;
    right: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.sub2_main_text h3 {
    font-size: 40px;
    color: #ed3e3e;
}

.sub2_main_text p {
    font-size: 18px;
    color: #202020;
    opacity: 0.75;
}

.sub2_store {
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.sub2_tapset h4 {
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.tap {
    widows: 100%;
    margin: 50px 0;
}

.tap section {
    display: none;
    padding: 20px 0;
    height: 630px;
    border-top: 1px solid #000;
}

/*라디오버튼 숨김*/
.tap input[type="radio"] {
    display: none;
}

.tap label {
    display: inline-block;
    padding: 25px 182.7px;
    font-weight: 600;
    margin: 0 0 -1px;
    text-align: center;
    font-size: 18px;
    color: #bbb;
    border: 1px solid transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

/* label위치에 커서올리시 색 변경 */
.tap label:hover {
    color: #ff0000;
    cursor: pointer;
    /*    border: 1px solid #000;*/
}

/*input 클릭시, label 스타일*/
.tap input:checked + label {
    color: #555;
    border: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

/* 탭 연결 */
#best:checked ~ #best_text,
#ticat:checked ~ #ticat_text,
#food:checked ~ #food_text {
    display: block;
}

.best_box {
    display: inline-block;
    padding: 30px 85px;
    text-align: center;
}

.best_box img {
    width: 235px;
    height: auto;
}

.best_box h6 {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.best_box p {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}

.best_box h4 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

#best_text:after {
    content: "";
    display: block;
    clear: both;
}

#ticat_text:after {
    content: "";
    display: block;
    clear: both;
}

#food_text:after {
    content: "";
    display: block;
    clear: both;
}

.sall {
    width: 100%;
    height: 600px;
}

.sall_box {
    display: inline-block;
    text-align: center;
    padding: 30px;
}

.sall h4 {
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.sall h6 {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.sall p {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    opacity: 0.6;
}

.sall_box h4 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.sall h4 > span {
    color: #ff0000;
    padding-right: 5px;
}

.sall h4 span:nth-child(2) {
    font-size: 12px;
    color: #202020;
    opacity: 0.5;
    text-decoration: line-through;
}

.sall_boxset:after {
    content: "";
    display: block;
    clear: both;
}

/* 서브2 끝 */

/*서브3 시작*/

.sinemabox input[type="radio"] {
    display: none;
}

.sinemabox {
    width: 1024px;
    height: 800px;
    margin: 0 auto;
}

.sinemabox table {
    margin-top: 60px;
    width: 100%;
    height: 694px;
}

.sinemabox table tr:nth-child(2) td:nth-child(1) {
    width: 310px;
}

#tap {
    width: 310px;
}

#tap section {
    display: none;
    height: 630px;
    border-top: 1px solid #000;
    width: 310px;
}

#tap label {
    display: inline-block;
    font-weight: 600;
    padding-left: 1px;
    text-align: center;
    font-size: 12px;
    color: #333;
    border: 1px solid transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 148px;
    height: 30px;
}

/* label위치에 커서올리시 색 변경 */
#tap label:hover {
    color: #ff0000;
    cursor: pointer;
    /*    border: 1px solid #000;*/
}

/*input 클릭시, label 스타일*/
#tap input:checked + label {
    color: #ff0000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 150px;
    height: 30px;
}

#all:checked ~ #all_text,
#special:checked ~ #special_text {
    display: block;
}

#all_text,
#special_text {
    font-size: 10px;
    cursor: pointer;
}

#all_text p,
#special_text p {
    padding: 10px;
}

#all_text p:hover,
#special_text p:hover {
    color: #ff0000;
}

#all_text button {
    border: 1px solid #333;
    ;
    border-radius: 50px;
    cursor: pointer;
    width: 60px;
    height: 25px;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

#all_text button:hover {
    color: #ff0000;
}

.all_left {
    width: 148px;
    height: 100%;
    float: left;
    border-right: 1px solid #333;
    background-color: #f4f5f6;
}

.all_right {
    width: 148px;
    height: 100%;
    float: left;
}

.special_left {
    width: 148px;
    height: 100%;
    float: left;
    border-right: 1px solid #333;
    background-color: #f4f5f6;
}

.special_right {
    width: 148px;
    height: 100%;
    float: left;
}
